<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PYXIS_AI_ACCESS_TOKEN</key>
	<string>$(PYXIS_AI_ACCESS_TOKEN)</string>
	<key>PYXIS_AI_BASE_URL</key>
	<string>$(PYXIS_AI_BASE_URL)</string>
	<key>PYXIS_PC_BASE_URL</key>
	<string>$(PYXIS_PC_BASE_URL)</string>
	<key>PYXIS_TRY_ON_TEST_TOKEN</key>
	<string>$(PYXIS_TRY_ON_TEST_TOKEN)</string>
</dict>
</plist>
